extends layout

block body
    body.index
    
block header
    include partials/header
            
block content
    
    //Logo
    
    .section-row.row-main(data-midnight="blue")
        .container

            img(src="images/home/im_main_logo.png",style="max-width:647px;")

            p LALALALA
                                
                        
                                                                                               
